Django==5.2.4
djangorestframework==3.16.0
django-taggit==6.1.0
psycopg2-binary==2.9.8
Pillow==11.3.0
mysql-connector-python==9.3.0
sqlparse==0.5.3
asgiref==3.9.0
python-dotenv==1.1.1
python-decouple==3.8
